SB.Services/Service References/AdvisorService/AdvisorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://edell.dell.com/solutions/contract/advisors/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdvisorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IAdvisorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://edell.dell.com/solutions/contract/advisors/v1" location="http://g1vmadvsvc01.olqa.preol.dell.com:1000/AdvisorsService/v1.0/AdvisorService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IAdvisorService" type="i0:IAdvisorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SessionTimeLeft">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/SessionTimeLeft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadAdvisor">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/LoadAdvisor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadSteps">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/LoadSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendation">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetRecommendation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSolutions">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetSolutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPremierAdvisorList">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetPremierAdvisorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInputSummary">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetInputSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SwitchConfigFailoverDatabase">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/SwitchConfigFailoverDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogMappedAdvisors">
      <soap:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetCatalogMappedAdvisors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IAdvisorService" type="i0:IAdvisorService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IAdvisorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SessionTimeLeft">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/SessionTimeLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadAdvisor">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/LoadAdvisor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadSteps">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/LoadSteps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendation">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetRecommendation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSolutions">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetSolutions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPremierAdvisorList">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetPremierAdvisorList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInputSummary">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetInputSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SwitchConfigFailoverDatabase">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/SwitchConfigFailoverDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogMappedAdvisors">
      <soap12:operation soapAction="http://edell.dell.com/solutions/contract/advisors/v1/IAdvisorService/GetCatalogMappedAdvisors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdvisorServiceFaultFault">
        <soap12:fault use="literal" name="AdvisorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvisorService">
    <wsdl:port name="BasicHttpBinding_IAdvisorService" binding="tns:BasicHttpBinding_IAdvisorService">
      <soap:address location="http://g1vmadvsvc01.olqa.preol.dell.com:1000/AdvisorsService/v1.0/AdvisorService.svc" />
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IAdvisorService" binding="tns:NetNamedPipeBinding_IAdvisorService">
      <soap12:address location="net.pipe://g1vmadvsvc01.olqa.preol.dell.com/AdvisorsService/v1.0/AdvisorService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://g1vmadvsvc01.olqa.preol.dell.com/AdvisorsService/v1.0/AdvisorService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Servicegbladvisors@amer.dell.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>