SB.Services/Service References/AdvisorService/AdvisorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dell.Advisors.Contracts.V1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dell.Advisors.Contracts.V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://g1vmadvsvc01.olqa.preol.dell.com:1000/AdvisorsService/v1.0/AdvisorService.svc?xsd=xsd4" namespace="http://edell.dell.com/solutions/schema/advisors/v1" />
  <xs:simpleType name="AdvisorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SolutionAdvisor" />
      <xs:enumeration value="ProductAdvisor" />
      <xs:enumeration value="SelectorAdvisor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdvisorType" nillable="true" type="tns:AdvisorType" />
  <xs:complexType name="RecommendationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://edell.dell.com/solutions/schema/advisors/v1" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdvisorDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorFriendlyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdvisorVersionNumber" type="xs:int" />
          <xs:element minOccurs="0" name="SolutionResults" nillable="true" type="q1:ArrayOfSolutionResult" />
          <xs:element minOccurs="0" name="UserAdvisorRequestId" type="xs:int" />
          <xs:element minOccurs="0" name="UserResponses" nillable="true" type="q1:ArrayOfUserResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecommendationResponse" nillable="true" type="tns:RecommendationResponse" />
</xs:schema>